<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Message Board</title>
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div class="container">
    <form action="/new" method="post" id="form" class="message-form">
      <h2>Swaggy Brad's Chat</h2>
      <input type="text" class="text-input" id="author" name="author" placeholder="Your Name" />
      <input type="text" class="text-input" id="message" name="message" placeholder="Your Message" />
      <button type="submit" class="send-button">Send</button>
    </form>
  </div>
</body>

</html>
