<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Message Board</title>
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/socket.io/socket.io.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      var socket = io();
      var messagesList = document.querySelector('.message-list');

      socket.on('chat message', function(msg) {
        var item = document.createElement('li');
        item.classList.add('message-item');
        item.innerHTML = `
          <p><strong>User:</strong> ${msg.user}</p>
          <p><strong>Text:</strong> ${msg.text}</p>
          <p><strong>Date:</strong> ${new Date(msg.added).toLocaleString()}</p>
        `;
        messagesList.appendChild(item);
      });
    });
  </script>
</head>

<body>
  <div class="container">
    <h1>Swaggy Brad's Chat</h1>
    <p>Welcome to swag land</p>
    <ul class="message-list">
      <% messages.forEach(function(message) { %>
        <li class="message-item">
          <p><strong>User:</strong>
            <%= message.user %>
          </p>
          <p><strong>Text:</strong>
            <%= message.text %>
          </p>
          <p><strong>Date:</strong>
            <%= message.added.toLocaleString() %>
          </p>
        </li>
        <% }); %>
    </ul>
    <a href="/new" class="add-message-button">Add New Message</a>
  </div>
</body>

</html>
